<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="title-center">Engineering Edge Center</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-card-title>
        Thank You!
    </mat-card-title>
    <br/>
    <mat-card-content>
        Thank you for visiting the Engineering Edge Center.<br/>
        Take a seat and a staff member will call your name <br/>
        when they are ready to assist you.<br/>
    <img mat-card-image src="https://www.utep.edu/Images/UTEP-Footer.png" style="width:150px;height:150px;">
    </mat-card-content>
</mat-card>
